.Getin{
    height: 80vh;
    /* border: 2px solid red; */
    display: flex;
}
.left-getin{
    height: 100%;
    width: 50%;
    /* border: 2px solid green; */
    padding: 3rem 4rem 3rem;
    background-color: FFFFFF;
    line-height: 50px;
    position: relative;
    align-items: center;
    top: 05%;
    left: 05%;
}
h1{
    margin-bottom: 1rem;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.right-getin{
    height: 100%;
    width: 50%;
    /* border: 2px solid green; */
    background-color: green;
    padding-left: 3rem;
    padding-top: 3rem;
}
.right-getin h2{
    color: antiquewhite;
}
.right-getin h1{
    color: aliceblue;
}
.form{
    height: 70%;
    width: 70%;
    color: #fff;
    /* border: 2px solid burlywood; */
}

button{
    background-color: #07102c;
    border-radius: 5px;
    color: #fff;
    padding: 0.6rem;
    text-align: center;
}
button a{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width:990px) {
    .Getin{
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
    .left-getin{
        width: 100%;
    }
    .right-getin{
        width: 100%;
    }
    button a{
        text-decoration: none;
        color: #fff;
        align-items: center;
        justify-content: center;
    }
    
}